@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rokkitt&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Rokkitt', serif; */
body{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: 'Rokkitt', serif; 
}
#home{
    background-image: url("./../images/bg_header.jpg");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
#home .textLogo{
    font-size: 2.4rem;
}
#home .pCentre{
    font-family: 'Rokkitt', serif;
    font-size: 1.5rem;
    line-height: 3rem;
}
#home .menuG{
    width: 15%;
    min-width: 200px;;
}
#home .pCentreTitre{
    font-size: 4rem;
    line-height: 3.5rem;
}
#home .divButtons button{
    font-size: 1.5rem;
}
#imgLogo{
    height: 70px;
    vertical-align: middle;
}
#about{
    background-image: url("./../images/bg_nuage.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
#about .bandeauCyan{
    background-color: rgba(121, 243, 255, .4);
    font-size: 1.2rem;
}
#about .bandeauCyan h2{
    font-size: 2.5rem;
}
#about .bandeauCyan h3{
    font-size: 1.7rem;
}
#blog{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}
#history{
    background-image: url("./../images/bg_appareil_photo.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
#history .bandeauCyan{
    background-color: rgba(121, 243, 255, .4);
    font-size: 1.2rem;
}
#history .titreStyle3{

}
#partenaires{
    font-size: 0;
}
#photos{
    font-size: 0;
}
#contact{
    background-image: url("./../images/bg_newsletter.jpg");
}
footer{
    background-color: #24323b;
}